
@import url('https://fonts.googleapis.com/css2?family=Miss+Fajardose&display=swap');
//font-family: 'Miss Fajardose', cursive;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//font-family: 'Roboto', sans-serif;

@import 'mixinper';
@import 'header';

$background: #f3f3f3;
$font: #38675D;


*{
    margin: 0;
    padding: 0;
    border: 0;
}


body{
    
    background-color: $background;
 
}

c
