
@use '_reset';
@use '_mixin';
@use '_header';



@import url('https://fonts.googleapis.com/css2?family=Miss+Fajardose&display=swap');
//font-family: 'Miss Fajardose', cursive;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//font-family: 'Roboto', sans-serif;




$background: #f3f3f3;
$fuente: #38675D;
$Azul: #31456a;
$rojo: #dd3838;
$negro: #222222;




*{
    margin: 0;
    padding: 0;
    border: 0;
}


body{
    
    background-color: $background;
 
}
