$background: #f3f3f3;
$font: #38675D;




@import 'mixinper';
@import 'header';

@import url('https://fonts.googleapis.com/css2?family=Miss+Fajardose&display=swap');
//font-family: 'Miss Fajardose', cursive;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
//font-family: 'Montserrat', sans-serif;

*{
    margin: 0;
    padding: 0;
    border: 0;
}


body{
    
    background-color: $background;
    

    a, li{
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        color: $font;
        transform: none;
    }
}







