@import url("https://fonts.googleapis.com/css2?family=Miss+Fajardose&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --negro: #393939;
  --blanco:#f3f3f3;
  --tipo-principal: "Roboto", sans-serif;
  --tipo-secundaria: "Miss Fajardose", cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
@media (prefers-contrast: high) {
  :root {
    --negro:black;
    --blanco:white;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional appearance: none;*/
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  background: #f3f3f3;
  font-family: var(--tipo-principal);
  color: #3C6E71;
  line-height: 1.4em;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top {
  margin-top: 1em;
  width: 80%;
  border: 0.1em solid #fff;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 8px rgba(70, 70, 70, 0.15), -4px -4px 8px #fff;
          box-shadow: 4px 4px 8px rgba(70, 70, 70, 0.15), -4px -4px 8px #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-a, .header-ul, .header-h3, .header-button, .header i {
  margin: 0.1em;
  padding: 0.1em;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-logo {
  font-size: 3.5em;
  font-family: var(--tipo-secundaria);
}
.header-redsocial {
  font-size: 1.3em;
}
.header-redsocial li {
  margin: auto 0.6em;
  padding: 0.1em 0.2em;
}
.header-login {
  margin: 0.5em;
}
.header-login li {
  margin: auto 0.5em;
  padding: 0.2em;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 8px rgba(70, 70, 70, 0.15), -4px -4px 8px #fff;
          box-shadow: 4px 4px 8px rgba(70, 70, 70, 0.15), -4px -4px 8px #fff;
}
.header-login li:hover {
  border-radius: 10px;
  -webkit-box-shadow: inset 4px 4px 8px rgba(70, 70, 70, 0.15), inset -4px -4px 8px #fff;
          box-shadow: inset 4px 4px 8px rgba(70, 70, 70, 0.15), inset -4px -4px 8px #fff;
  color: #84a59d;
}