@import url("https://fonts.googleapis.com/css2?family=Miss+Fajardose&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.top {
  width: 80%;
  margin: 1em auto;
  border: 0.1em solid #fff;
  border-radius: 10px;
  -webkit-box-shadow: 6px 6px 12px rgba(70, 70, 70, 0.15), -6px -6px 12px #fff;
          box-shadow: 6px 6px 12px rgba(70, 70, 70, 0.15), -6px -6px 12px #fff;
  /* ---------------------------------- logo ---------------------------------- */
  /* ------------------------------- categorias ------------------------------- */
  /* ----------------------------- redes Sociales ----------------------------- */
  /* ---------------------------------- carro --------------------------------- */
  /* ---------------------------------- login --------------------------------- */
  /* --------------------------------- perfil --------------------------------- */
}
.top .header__elment {
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  text-align: center;
}
.top .header__logo {
  margin: auto;
}
.top .header__logo a {
  font-size: 4em;
  font-family: "Miss Fajardose", cursive;
  cursor: pointer;
}
.top .header__categorias {
  padding: 1em;
  border-radius: 10px;
  -webkit-box-shadow: 6px 6px 12px rgba(70, 70, 70, 0.15), -6px -6px 12px #fff;
          box-shadow: 6px 6px 12px rgba(70, 70, 70, 0.15), -6px -6px 12px #fff;
}
.top .header__categorias:hover {
  border-radius: 10px;
  -webkit-box-shadow: inset 6px 6px 12px rgba(70, 70, 70, 0.15), inset -6px -6px 12px #fff;
          box-shadow: inset 6px 6px 12px rgba(70, 70, 70, 0.15), inset -6px -6px 12px #fff;
}
.top .header_RedSocial a {
  padding: 0.3em 0.5em;
  margin: 0.5em;
  font-size: 1.5em;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.top .header_shopCar {
  margin: 0.5em;
}
.top .header_shopCar a {
  font-size: 1.2em;
}
.top .header_login {
  margin: 0.5em;
}
.top .header_login a {
  padding: 0.2em;
}
.top .header_perfil {
  margin: 0.5em;
  width: 8%;
  padding: 0.5em;
  border-radius: 50px;
  -webkit-box-shadow: inset 7px 7px 14px rgba(70, 70, 70, 0.15), inset -7px -7px 14px #fff;
          box-shadow: inset 7px 7px 14px rgba(70, 70, 70, 0.15), inset -7px -7px 14px #fff;
  cursor: pointer;
}
.top .header_perfil img {
  padding: 5%;
  border: 0.1em solid #fff;
  border-radius: 50px;
  -webkit-box-shadow: 6px 6px 12px rgba(70, 70, 70, 0.15), -6px -6px 12px #fff;
          box-shadow: 6px 6px 12px rgba(70, 70, 70, 0.15), -6px -6px 12px #fff;
}
.top .header_perfil img:hover {
  border-radius: 50px;
  -webkit-box-shadow: inset 6px 6px 12px rgba(70, 70, 70, 0.15), inset -6px -6px 12px #fff;
          box-shadow: inset 6px 6px 12px rgba(70, 70, 70, 0.15), inset -6px -6px 12px #fff;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #f3f3f3;
}
body a, body li {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #38675D;
  -webkit-transform: none;
          transform: none;
}