
.header{
    @include flex ( row , wrap , center, center) ;


    &-top{
        
        margin-top: 1em;
        width: 80%;
        border: .1em solid #fff;
        @include neum (10px , 4px);
        @include flex ( row , wrap , space-around , center);

        
    }

    &-a, &-ul, &-h3, &-button, i {

        margin: .1em;
        padding: .1em;
        font-size: 1em;
        @include flex (row , wrap , space-around , center);
    }
    

    &-logo{

        font-size: 3.5em;
        font-family: var(--tipo-secundaria);
    }

    &-categorias{

        padding: .2em;
        @include neum (4px , 6px);

            .header-container{

                position: relative ;               
                @include flex (row , wrap , space-around , center);

                .header-ul{
                    position: absolute;
                    margin-top: 10em;
                    width: 50em;
                    max-width: 120em;
                    left: -20em;
                    border: .1em solid #fff;
                    @include neum (4px , 6px);

                }

            }

    
    }

    &-categorias:hover{

        @include insiteneum(4px , 6px);
    }

    &-redsocial{
        font-size: 1.3em;
        
        li{

            margin: auto .6em;
            padding: .1em .2em;
            @include neum (50px , 4px);


        }

        li:hover{

            @include insiteneum(50px , 4px);
            color: $color-green-secun;
        }
          
    }

    &-login{

        margin: .5em;

        li{
            margin: auto .5em;
            padding: .2em;
            @include neum (10px , 4px);
        }

        li:hover{

            @include insiteneum(10px , 4px);
            color: $color-green-secun;
            
        }
    }


}

