
.header{
    @include flex ( row , wrap , center, center) ;

    &-top{
        
        margin-top: 1em;
        width: 80%;
        border: .1em solid #fff;
        @include neum (10px , 6px);
        @include flex ( row , wrap , space-around , center);

        
    }

    &-logo{

        font-size: 4em;
        font-family: var(--tipo-secundaria);
    }

    &-categorias{
        margin: 1em;
        padding: .2em;
        font-size: 1.2em;
        @include neum (10px , 6px);

        &-a:hover{
            @include insiteneum (10px , 6px);
        }
    }

    &-a, &-ul, &-h3 {

        padding: .2em;
        font-size: 1em;
        @include flex (row , wrap , space-around , center);
    }


}